body {
  background-color: black;
  color: white;
}

h1 {
  font-family: monospace;
}

h2 {
  font-family: monospace;
}

h3 {
  font-family: monospace;
}

p.about {
  color: red;
  font-style: italic;
}

.title {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}

.important {
  color: yellow;
  font-style: italic;
}
